We should try A/AAAA record look ups on the billing_realm

...and possibly '_diameter._sctp'.realm or '_diameter._tcp'.realm as per section 5.1 of RFC 3588